---
layout: default1
---
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="/css/l2d.css"> <!-- 引用 CSS 文件 -->
  <script src="/js/l2d.js"></script>
  <script src="/js/spine.js"></script>
  <script src="/js/modelLoader.js"></script>
  <script src="/js/icon.js"></script>
  <script src="//at.alicdn.com/t/font_8d5l8fzk5b87iudi.js"></script>

</head>

<div class ="container">
  <select id="modelIndexSelect" title="请选择一个选项"></select>
</div>

<script>
  try {
    OML2DInit();
  } catch (error) {
    console.error("初始化失败:", error);
    alert("加载模型时发生错误，请稍后再试。");
  }
</script>


<article class="post-container post-container--single" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <div class="post-meta">
      <time datetime="{{page.date | date: date_to_xmlschema}}" itemprop="datePublished" class="post-meta__date date">{{page.date | date: "%F"}}</time>
      <span class="post-meta__tags tags"></span>
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>
  <section class="post">
    {{ content }}
  </section>
</article>





<!--<script src="https://unpkg.com/@esotericsoftware/spine-player@4.2.*/dist/iife/spine-player.js"></script>-->
<!--<link rel="stylesheet" href="https://unpkg.com/@esotericsoftware/spine-player@4.2.*/dist/spine-player.css">-->

<!--<div id="player-container" style="width: 30%; height: 500px;"></div>-->

<!--<script>-->
<!--  new spine.SpinePlayer("player-container", {-->
<!--    // Absolute URLs-->
<!--    skeleton: "/l2d/Spine/Nikke/acpufreeze/acpufreeze_00.skel",-->
<!--    atlas: "/l2d/Spine/Nikke/acpufreeze/acpufreeze_00.atlas",-->
<!--  });-->
<!--  new spine.SpinePlayer("player-container", {-->
<!--    // Absolute URLs-->
<!--    skeleton: "https://esotericsoftware.com/files/examples/4.2/spineboy/export/spineboy-pro.skel",-->
<!--    atlas: "https://esotericsoftware.com/files/examples/4.2/spineboy/export/spineboy-pma.atlas"-->
<!--  });-->
<!--</script>-->
